::selection {
    background-color: #ef3955;
}

body{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -50;
    display:block;
    width: 100%;
    max-height: 1100px;
    background-size: cover;
    background-position: center center;
}
p{
    line-height: 1.9em;
    color: #212529;
    font-weight: 100;
}
.bg-light{
    background-color: #fdfdfd!important;
        border-bottom: 1px solid rgba(0,0,0,.05);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.navbar.scrolled {
  background-color: #fff !important;
    color: black;
  transition: 200ms ease-in-out;
}
.navbar{
    transition: 200ms ease-in-out;
}
.navbar.scrolled .navbar-nav .active>.nav-link{
    color:#212529;
    border-bottom: 1px solid #212529;
}
.navbar.scrolled .navbar-nav .nav-link{
  color:#212529;
}
.navbar.scrolled .navbar-brand{
    color: #212529;
}
.navbar.scrolled .navbar-toggler-icon{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 57, 85, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
.navbar-light .navbar-toggler{
    border-color: transparent!important;
}
.navbar-light .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 57, 85, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
.logo{
    background: url(pics/logo_colour.svg);
    display: block;
    background-repeat: no-repeat;
    height: 60px;
    width: 100px;
    text-indent: -9999px;
    border: none;
    border-color: transparent;
}
.navbar-light .navbar-brand{
    color: #212529;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:#212529;
    border-bottom: 1px solid #212529;
}
.navbar-light .navbar-nav .nav-link{
    color: #212529;
}
.navbar-nav{
    flex-direction: row;
    justify-content:space-between;
}
.navbar-nav .nav-link{
    padding-left: %;
}
#contact-button{
    border: 1px solid #f8f9fab0;
}
#hello-hr{
    margin-top: 18%;
    margin-bottom: 18%;
}
.container{
    padding-bottom: 0%;
}
#welcome_wrapper{
    padding-top:20%;
    padding-top: 30%;
} 
#projects_wrapper h1{
    /*background: #FF512F;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f8f9fa;
    width: 100%;
    margin-top: 2%;
    /*padding: 2%;
    border-radius: 5px;*/
}
#projects_wrapper h3{
    padding-top: 1%;
    font-weight: 100;
    color: #f8f9fa;
}
#works_wrapper h3{
    margin-top: 42%;
    margin-bottom: 5%;
}
#featured_websites{
    width: 100%;
    display: none;
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    padding-bottom: 0px;
}
.carousel-caption h5{
    color: #212529;
    font-weight: 100;
}
.carousel-caption p{
    color: darkgray;
    font-weight: 100;
    font-size: 0.9em;
    z-index: 999999;
}
.carousel-caption a:active{
    text-decoration-color: darkgray;
}
.carousel-caption a:hover{
    text-decoration-color: darkgray;
}
.carousel-caption a:focus{
    text-decoration: none;
}
.carousel-caption i{
    font-size: 0.8em;
}
.carousel-caption h5:after{
    height: 1px;
}
.carousel-indicators {
    margin-bottom: 40%;
}
.carousel-indicators li{
    border-radius: 100px;
    height: 2px;
}
.carousel-control-prev-icon{
    margin-bottom: 180%!important;
}
.carousel-control-next-icon{
    margin-bottom: 180%!important;
}
#all_projects{
    display: flex;
    justify-content: center;
    align-content: center;
}
.underline{
    border-bottom: 1px solid #ef3955;
    padding-bottom: 5px;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none!important;
    outline: none!important
}
#all_projects .btn{
    align-self: center;
    margin-bottom: 0%;
    margin-top: 0px;
    box-shadow: 0 12px 20px -12px #f3434ad6;
}
#all_projects button{
    color: white;
    border: none;
    background-color: transparent!important;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    transition: 0.3s;
    transition: ease-in-out;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: ease-in-out 0.15s;
}
#all_projects button:hover{
    opacity: 0.8;
    
}
#all_projects i{
    font-size: 0.8em;
}
#my_work h3{
    margin-top: 10%;
    margin-bottom: 10%;
}
#my_work h6{
    padding-top:5%;
    padding-bottom: 2%;
}
/*#my_work_1, #my_work_2, #my_work_3{
    background: #FF512F;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 5px;
}*/
.my_work_why{
    padding-bottom: 4%;
    padding-top: 2%;
}
#my_work p{
    font-weight: 100;
}
#my_work li{
    color: grey;
}
#about-wrapper p{
    font-weight: 100;
}

#about-wrapper{
    background-color: #212529;
    color: white;
    padding: 5%;
    padding-top: 8%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mobile-profile-pic img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.desktop-profile-pic{
    display: none;
}
#profile-text p{
    font-size: 1em;
    font-weight: 100;
    }
/* -------------------

        BUTTON

---------------------*/
#contact_me{
    font-weight: 200;
    margin-bottom: 10%;
    line-height: 1.8em;
}
.btn-success{
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    box-shadow: 0 12px 20px -12px #f3434ad6;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px;
}
.btn-success:hover {
    opacity: 0.8;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle, {
    opacity: 0.8;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    box-shadow: px 10px #888888;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle{
    opacity: 0.8;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    box-shadow: px 10px #888888;
}
.btn-success.focus, .btn-success:focus {
    box-shadow: none;
    opacity: 0.8;
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus{
    box-shadow: none;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
}
hr{
    margin-top: 10%;
    margin-bottom: 10%;
}
/*.background_wave{
    height: 100%;
    width: 100%;
    background: url(pics/footer-reverse.svg);
    background-repeat: no-repeat;
    z-index: -50;
    display:flex;
    position: absolute;
    background-size:cover;
    background-position: center center;
}*/
form{
    background-color: white;
    padding: 5%;
    border-radius: 5px;
    font-weight: 100;
    border: 1px solid rgba(0,0,0,0.1);
}
footer{
    color: #212529;
    background: none;
    padding: 3%;
    margin-top: 0%;
    font-weight: 100;
    display: flex;
    justify-content: center;
}
.copyright p{
    margin-bottom: 0;
}
#footer_hr{
    margin-bottom: 1%;
}

/*************************

    ALL PROJECTS CSS

**************************/

#projects_wrapper{
    padding-top: 30%;
}
#projects_wrapper h3{
    color: #212529;
    font-weight: 200;
    padding-bottom: 5%;
}
#projects_wrapper p{
    color: #212529;
    font-weight: 100;
    margin-bottom: 30px;;
}
#projects_wrapper i{
    margin-left: 1%;
    font-size: 0.9em;
}
.header-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.gallery img{
    width: 100%;
}
.col-wrapper{
    transition: 0.2s ease-in-out;
}
.col-wrapper h5{
    font-weight: 400;
    margin-bottom: 3.5%;
    color: #212529;
}
.col-wrapper p{
    
}
.project_img:hover {
    opacity: 0.5;
}

.visit_website{
    color: white;
    border: none;
    background-color: transparent!important;
    border-radius: 5px;
    margin-bottom: 12%;
    transition: 0.3s;
    transition: ease-in-out;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: ease-in-out 0.15s;
    box-shadow: 0 12px 20px -12px #f3434ad6;
}
.visit_website i{
    font-size: 0.8em;
    margin-left: 1%;
}
#header_row .col:last-child{
    display: flex;
    justify-content:flex-end;
    margin-right: 3.5%;
    padding-left: 0px;
}
#header_row .col-4:last-child{
    display: flex;
    justify-content:flex-end;
    margin-right: 0%;
    padding-right: 0%;
    padding-left: 3.5%;
}











    #welcome_wrapper{
        padding-top: 20%;
    }
    .mobile-profile-pic img{
        display: none;
    }
    #all_projects .btn{
    align-self: center;
    margin-bottom: 5%;
}
    #about-wrapper{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 5px;
    }
    .desktop-profile-pic{
        display: flex;
    }
    .desktop-profile-pic img{
        width: 150%;
        margin-left: -70%;
        margin-top: -35%;
        padding-left: 0%;
        border-image-outset: 0.5;
        border-radius: 5px!important;
    }
    #profile-text{
        align-self: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    #profile-text p{
        font-size: 1.2em;
    }
    #my_work h3{
        margin-bottom: 5%;
    }
}